.mainDivSeasonal{
background-image: url('https://cdn.shopify.com/s/files/1/0726/1221/7115/files/ecom-no-replace-MsqN2b0g87bn-hero-fdd.png?v=1715908876');
background-repeat: no-repeat;
background-size:cover;
width: 100%;
background-position: center; 

}