.footerSeasonal{
    background-image: url("https://cdn.shopify.com/s/files/1/0726/1221/7115/files/ecom-no-replace-d6GQx2NhVVbg-news-ft.png?v=1716170823");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bgFooter{
    background-color: rgb(247, 248, 242);
}